@import "../spell-list/SpellList";
@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@700&display=swap');

@mixin base-styles($slot-width: 20%, $form-height: 25%, $slot-height: 10px, $slot-container-top: 12%) {
  .spell-book-container {
    position: fixed;
    right: 0;
    width: 50%;
    height: 100%;
  }

  .book-list-container {
    height: 70%;
    width: 100%;
    overflow-y: auto;
    -webkit-box-shadow: inset 18px 0px 15px -5px;
    -moz-box-shadow: inset 18px 0px 15px -5px;
    box-shadow: inset 18px 0px 15px -5px;
  }

  .sort-bar {
    display: table;
    font-family: 'Roboto', sans-serif;
    direction: ltr;
    position: sticky;
    font-size: 14px;
    top: 0;
    background: url("../img/parchment.jpg");
    width: 100%;
    -webkit-box-shadow: inset 18px 0px 15px -8px, 0px 4px 7px;
    -moz-box-shadow: inset 18px 0px 15px -8px, 0px 4px 7px;
    box-shadow: inset 18px 0px 15px -8px, 0px 4px 7px;
    z-index: 5;
    h1 {
      cursor: pointer;
    }
  }
  .sort-text {
    white-space: nowrap;
    display: table-cell;
  }
  .sort-name {
    width: 40%;
    padding-left: 25px;
  }
  .sort-level {
    width: 30%;
  }
  .sort-school {
    width: 30%;
    padding-right: 15px;
  }

  .book-form {
    height: $form-height;
    font-family: 'Grenze Gotisch', cursive;
    position: relative;
    background: url("../img/parchment.jpg");
    background-position: left;
    -webkit-box-shadow: inset 18px 0px 15px -8px, 0px 4px 7px;
    -moz-box-shadow: inset 18px 0px 15px -8px, 0px 4px 7px;
    box-shadow: inset 18px 0px 15px -8px, 0px 4px 7px;
    font-size: 22px;
    text-align: center;
    z-index: 10;
    .class-book {
      position: absolute;
      font-size: 18px;
      left: 0;
      right: 0;
      margin: auto;
      margin-top: -3%;
      top: 1%;
    }
    .slot-container {
      position: absolute;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 100%;
      top: $slot-container-top;
    }
    .spell-slots {
      height: $slot-height;
      width: $slot-width;
      white-space: nowrap;
    }
    .slot-num {
      font-size: 30px;
      color: #FFFF88;
      text-shadow: 0 0 4px black, 0 0 8px yellow;
      padding-left: 6px;
      transition: 0.3s;
    }
    .empty-slot {
      color: lightgray;
      text-shadow: 0 0 4px black;
    }
    .red-flash {
      color: darkred;
      text-shadow: 0 0 4px red;
    }
    .show-prepare {
      display: block;
    }
  }

  .spell-book-list::after {
    background: url("../img/parchment.jpg");
    content: "";
    opacity: 0.6;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -5;
  }
}

@media (max-width: 768px) {

}

@media (max-width: 1024px) and (min-width: 768px) {
  @include base-styles(33%, 35%);
  .rest-btn {
    font-family: 'Grenze Gotisch', cursive;
    position: absolute;
    float: right;
    bottom: 14%;
    right: 5%;
    height: 36px;
    width: 150px;
    font-size: 20px;
    line-height: 18px;
  }
  .keep-spells {
    position: absolute;
    right: 5%;
    bottom: 2%;
    font-size: 18px;
    display: none;
  }
  .char-level {
    position: absolute;
    float: right;
    bottom: 15%;
    left: 5%;
    input {
      margin-left: 10px;
      width: 36px;
      font-size: 18px;
    }
  }
}

// @media only screen and (max-width: 1920px) and (min-width: 1024px) {
@media (min-width: 1024px) {
 @include base-styles;
 .rest-btn {
   font-family: 'Grenze Gotisch', cursive;
   position: absolute;
   float: right;
   bottom: 14%;
   right: 18%;
   height: 36px;
   width: 150px;
   font-size: 20px;
   line-height: 18px;
 }
 .keep-spells {
   position: absolute;
   right: 18%;
   bottom: 2%;
   font-size: 18px;
   display: none;
 }
 .char-level {
   position: absolute;
   float: right;
   bottom: 15%;
   left: 14%;
   input {
     margin-left: 10px;
     width: 36px;
     font-size: 18px;
   }
 }
}

// @media (min-width: 1920px) {
//
// }
