@import "../spell-list/SpellList";
@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@700&display=swap');

@mixin base-styles($slot-width: 20%) {

  .book-form-container {
    margin: 0 auto;
    padding: 25px 0 38px;
  }

  .book-list-container {
    flex: 1 1 0;
    overflow-y: auto;
    background: url("../img/light_parchment.png");
    -webkit-box-shadow: inset 18px 0px 15px -8px;
    -moz-box-shadow: inset 18px 0px 15px -8px;
    box-shadow: inset 18px 0px 15px -8px;
  }

  .sort-bar {
    display: table;
    font-family: 'Roboto', sans-serif;
    direction: ltr;
    position: sticky;
    font-size: 14px;
    top: 0;
    background: url("../img/parchment.jpg");
    width: 100%;
    -webkit-box-shadow: inset 18px 0px 15px -8px, 0px 4px 7px;
    -moz-box-shadow: inset 18px 0px 15px -8px, 0px 4px 7px;
    box-shadow: inset 18px 0px 15px -8px, 0px 4px 7px;
    z-index: 5;
    h1 {
      cursor: pointer;
    }
  }
  .sort-text {
    white-space: nowrap;
    display: table-cell;
  }
  .sort-name {
    width: 40%;
    padding-left: 25px;
  }
  .sort-level {
    width: 30%;
  }
  .sort-school {
    width: 30%;
    padding-right: 15px;
  }

  .book-form {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Grenze Gotisch', cursive;
    position: relative;
    background: url("../img/parchment.jpg");
    background-position: left;
    -webkit-box-shadow: inset 18px 0px 15px -8px, 0px 4px 7px;
    -moz-box-shadow: inset 18px 0px 15px -8px, 0px 4px 7px;
    box-shadow: inset 18px 0px 15px -8px, 0px 4px 7px;
    font-size: 22px;
    text-align: center;
    z-index: 10;
    .class-book {
      font-size: 18px;
      line-height: 24px;
      h1 {
        margin: 0;
      }
    }
    .slot-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 100%;
      p {

      }
    }
    .spell-slots {
      height: 5px;
      width: $slot-width;
      white-space: nowrap;
    }
    .slot-num {
      font-size: 30px;
      color: #FFFF88;
      text-shadow: 0 0 4px black, 0 0 8px yellow;
      padding-left: 6px;
      transition: 0.3s;
    }
    .empty-slot {
      color: lightgray;
      text-shadow: 0 0 4px black;
    }
    .red-flash {
      color: darkred;
      text-shadow: 0 0 4px red;
    }
    .show-prepare {
      display: block;
    }
  }

  .form-buttons {
    display: flex;
    padding-top: 50px;
  }

  .rest-btn-container {
    width: 50%;
    .rest-btn {
      font-family: 'Grenze Gotisch', cursive;
      font-size: 20px;
      line-height: 30px;
      padding: 0 20px;
    }
  }
  .keep-spells {
    display: none;
    font-size: 18px;
    height: 0px;
  }

  .char-level-container {
    width: 50%;
    .char-level {
      input {
        margin-left: 10px;
        width: 36px;
        font-size: 18px;
      }
    }
  }

  // .spell-book-list::after {
  //   background: url("../img/parchment.jpg");
  //   content: "";
  //   opacity: 0.6;
  //   position: absolute;
  //   top: 0;
  //   bottom: 0;
  //   right: 0;
  //   left: 0;
  //   z-index: -5;
  // }
}

@media (max-width: 768px), (max-height: 500px) {
  @include base-styles(33%);
  .spell-book-container {
    overflow: auto;
    position: relative;
    right: 0;
    height: 95%;
    display: none;
  }
  .show-book {
    display: block;
    width: 100%;
  }
  .spell-book-list {
    min-height: 100vh;
  }
}

@media (max-width: 1024px) and (min-width: 769px) and (min-height: 500px) {
  @include base-styles(33%);
  .spell-book-container {
    display: flex;
    flex-flow: column;
    position: relative;
    right: 0;
    width: 50%;
    height: 95%;
    float: right;
  }
}

// @media only screen and (max-width: 1920px) and (min-width: 1024px) {
@media (min-width: 1025px) and (min-height: 500px) {
 @include base-styles;
 .spell-book-container {
   display: flex;
   flex-flow: column;
   position: relative;
   right: 0;
   width: 50%;
   height: 95%;
   float: right;
 }
}

// @media (min-width: 1920px) {
//
// }
