@import "../spell-list/SpellList";
@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@700&display=swap');


@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 1024px) and (min-width: 768px) {

}

// @media only screen and (max-width: 1920px) and (min-width: 1024px) {
@media only screen and (min-width: 1024px) {
  .spell-book-container {
    position: fixed;
    right: 0;
    width: 50%;
    height: 100%;
  }

  .book-list-container {
    height: 70%;
    width: 100%;
    overflow-y: auto;
    -webkit-box-shadow: inset 18px 0px 15px -5px;
    -moz-box-shadow: inset 18px 0px 15px -5px;
    box-shadow: inset 18px 0px 15px -5px;
  }

  .sort-bar {
    font-family: 'Roboto', sans-serif;
    direction: ltr;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    position: sticky;
    top: 0;
    background: url("../img/parchment.jpg");
    width: 100%;
    -webkit-box-shadow: inset 18px 0px 15px -8px, 0px 4px 7px;
    -moz-box-shadow: inset 18px 0px 15px -8px, 0px 4px 7px;
    box-shadow: inset 18px 0px 15px -8px, 0px 4px 7px;
    z-index: 5;
    h1 {
      display: inline;
      cursor: pointer;
      position: relative;
    }
    .sort-name {
      left: 3%;
    }
    .sort-level {
      left: 30%;
    }
    .sort-school {
      left: 40%;
    }
  }

  .book-form {
    height: 25%;
    font-family: 'Grenze Gotisch', cursive;
    position: relative;
    background: url("../img/parchment.jpg");
    background-position: left;
    -webkit-box-shadow: inset 18px 0px 15px -8px, 0px 4px 7px;
    -moz-box-shadow: inset 18px 0px 15px -8px, 0px 4px 7px;
    box-shadow: inset 18px 0px 15px -8px, 0px 4px 7px;
    font-size: 22px;
    text-align: center;
    z-index: 10;
    .class-book {
      position: absolute;
      font-size: 18px;
      left: 0;
      right: 0;
      margin: auto;
      margin-top: -3%;
      top: 1%;
    }
    .slot-row {
      position: absolute;
      display: table;
      width: 100%;
    }
    .row1 {
      top: 25%;
    }
    .row2 {
      top: 45%;
    }
    .spell-slots {
      display: table-cell;
    }
    .slot-num {
      font-size: 30px;
      color: #FFFF88;
      text-shadow: 0 0 4px black, 0 0 8px yellow;
      padding-left: 6px;
      transition: 0.3s;
    }
    .empty-slot {
      color: lightgray;
      text-shadow: 0 0 4px black;
    }
    .red-flash {
      color: darkred;
      text-shadow: 0 0 4px red;
    }
    .rest-btn {
      font-family: 'Grenze Gotisch', cursive;
      position: absolute;
      float: right;
      bottom: 14%;
      right: 22%;
      height: 36px;
      width: 150px;
      font-size: 20px;
      line-height: 18px;
    }
    .keep-spells {
      position: absolute;
      right: 21%;
      bottom: 2%;
      font-size: 18px;
      display: none;
    }
    .show-prepare {
      display: block;
    }
    .char-level {
      position: absolute;
      float: right;
      bottom: 15%;
      left: 18%;
      input {
        margin-left: 10px;
        width: 36px;
        font-size: 18px;
      }
    }
  }

  .spell-book-list::after {
    background: url("../img/parchment.jpg");
    content: "";
    opacity: 0.6;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -5;
  }
}

// @media (min-width: 1920px) {
//
// }
