@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@700&display=swap');

$side-small: 4.4%;
$side-big: 175px;
$all-class-bg: #C73032;
$barbarian-bg: #E7623E;
$bard-bg: #AB6DAC;
$cleric-bg: #91A1B2;
$druid-bg: #7A853B;
$fighter-bg: #7F513E;
$monk-bg: #51A5C5;
$paladin-bg: #B59E54;
$ranger-bg: #507F62;
$rogue-bg: #555752;
$sorcerer-bg: #992E2E;
$warlock-bg: #7B469B;
$wizard-bg: #2A50A1;

.sidenav {
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  width: $side-small;
  background: gray;
  overflow: hidden;
  transition: 0.5s;
  z-index: 999;
}
.side-expand {
  width: $side-big;
}


.tabContainer {
  display: flex;
  padding: 0px 18px;
  height: 7.7%;
  font-family: 'Grenze Gotisch', cursive;
  .icon {
    min-width: 5vh;
    min-height: 5vh;
    pointer-events: none;
  }
  .classLabel {
    align-self: center;
    padding-left: 1vw;
    font-size: 20px;
    pointer-events: none;
    position: relative;
  }
}

.active {
  border-left: 7px inset;
}

.all-classes {
  background: $all-class-bg;
  border-color: $all-class-bg;
}
.barbarian {
  background: $barbarian-bg;
  border-color: $barbarian-bg;
}
.bard {
  background: $bard-bg;
  border-color: $bard-bg;
}
.cleric {
  background: $cleric-bg;
  border-color: $cleric-bg;
}
.druid {
  background: $druid-bg;
  border-color: $druid-bg;
}
.fighter {
  background: $fighter-bg;
  border-color: $fighter-bg;
}
.monk {
  background: $monk-bg;
  border-color: $monk-bg;
}
.paladin {
  background: $paladin-bg;
  border-color: $paladin-bg;
}
.ranger {
  background: $ranger-bg;
  border-color: $ranger-bg;
}
.rogue {
  background: $rogue-bg;
  border-color: $rogue-bg;
}
.sorcerer {
  background: $sorcerer-bg;
  border-color: $sorcerer-bg;
}
.warlock {
  background: $warlock-bg;
  border-color: $warlock-bg;
}
.wizard {
  background: $wizard-bg;
  border-color: $wizard-bg;
}


.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
