@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@700&display=swap');

$side-big: 180px;
$all-class-bg: #C73032;
$barbarian-bg: #E7623E;
$bard-bg: #AB6DAC;
$cleric-bg: #91A1B2;
$druid-bg: #7A853B;
$fighter-bg: #7F513E;
$monk-bg: #51A5C5;
$paladin-bg: #B59E54;
$ranger-bg: #507F62;
$rogue-bg: #555752;
$sorcerer-bg: #992E2E;
$warlock-bg: #7B469B;
$wizard-bg: #2A50A1;

@mixin base-styles($tab-padding: 18px, $label-padding: 20px) {
  .sidenav {
    height: auto;
    top: -101%;
    left: 0;
    position: fixed;
    width: 87px;
    overflow: hidden;
    z-index: 10;
    transition: top 0.85s ease-in-out, width 0.35s ease-in-out;
  }

  .tabContainer {
    cursor: pointer;
    display: flex;
    padding: 0px $tab-padding;
    height: 7.7vh;
    font-family: 'Grenze Gotisch', cursive;
    outline: 1px solid;

    .icon {
      min-width: 50px;
      min-height: 50px;
      pointer-events: none;
    }
    .classLabel {
      align-self: center;
      padding-left: $label-padding;
      font-size: 19px;
      pointer-events: none;
      position: relative;
    }
  }

  .showNav {
    top: 0;
  }

  .all-classes {
    background: $all-class-bg;
  }
  .barbarian {
    background: $barbarian-bg;
  }
  .bard {
    background: $bard-bg;
  }
  .cleric {
    background: $cleric-bg;
  }
  .druid {
    background: $druid-bg;
  }
  .fighter {
    background: $fighter-bg;
  }
  .monk {
    background: $monk-bg;
  }
  .paladin {
    background: $paladin-bg;
  }
  .ranger {
    background: $ranger-bg;
  }
  .rogue {
    background: $rogue-bg;
  }
  .sorcerer {
    background: $sorcerer-bg;
  }
  .warlock {
    background: $warlock-bg;
  }
  .wizard {
    background: $wizard-bg;
  }
  .all-classes-ribbon {
    background: url("../img/allclass_ribbon.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .barbarian-ribbon {
    background: url("../img/barbarian_ribbon.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .bard-ribbon {
    background: url("../img/bard_ribbon.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .cleric-ribbon {
    background: url("../img/cleric_ribbon.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .druid-ribbon {
    background: url("../img/druid_ribbon.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .fighter-ribbon {
    background: url("../img/fighter_ribbon.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .monk-ribbon {
    background: url("../img/monk_ribbon.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .paladin-ribbon {
    background: url("../img/paladin_ribbon.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .ranger-ribbon {
    background: url("../img/ranger_ribbon.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .rogue-ribbon {
    background: url("../img/rogue_ribbon.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .sorcerer-ribbon {
    background: url("../img/sorcerer_ribbon.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .warlock-ribbon {
    background: url("../img/warlock_ribbon.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .wizard-ribbon {
    background: url("../img/wizard_ribbon.png");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

@media (max-width: 768px), (max-height: 500px) {
  @include base-styles(0, 5px);
  .ribbon {
    width: 53px;
    height: 70px;
    outline: none;
    cursor: default;
    opacity: 0.7;
  }
  .ribbon-icon {
    min-width: 30px;
    min-height: 30px;
    pointer-events: none;
    padding: 0 11px 15px;
  }
  .image-map {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    width: 53px;
    height: 70px;
    z-index: 11;
  }
  .showNav:hover {

  }
  .classLabel {
    margin: 0 auto;
  }
  .icon {
    display: none;
  }
}

@media (max-width: 1024px) and (min-width: 769px) and (min-height: 500px) {
  @include base-styles;
  .ribbon {
    width: 87px;
    height: 115px;
    outline: none;
    cursor: default;
  }
  .ribbon-icon {
    min-width: 50px;
    min-height: 50px;
    pointer-events: none;
    padding-bottom: 25px;
  }
  .image-map {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    width: 85px;
    height: 115px;
    z-index: 11;
  }
  .showNav:hover {
    width: $side-big;
  }
}

// @media only screen and (max-width: 1920px) and (min-width: 1024px) {
@media (min-width: 1025px) and (min-height: 500px) {
 @include base-styles;
 .ribbon {
   width: 87px;
   height: 115px;
   outline: none;
   cursor: default;
 }
 .ribbon-icon {
   min-width: 50px;
   min-height: 50px;
   pointer-events: none;
   padding-bottom: 25px;
 }
 .image-map {
   position: absolute;
   bottom: 0;
   left: 0;
   opacity: 0;
   width: 85px;
   height: 115px;
   z-index: 11;
 }
 .showNav:hover {
   width: $side-big;
 }
}

// @media (min-width: 1920px) {
//
// }
