@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html,
body {
  margin: 0;
}

@mixin base-styles {
  .content {
    position: relative;
    //IMPORTANT
    height: 100vh;
  }
  .footer {
    position: relative;
    overflow: hidden;
    background: #373737;
    bottom: 0px;
    height: 5%;
    width: 100%;
    text-align: center;
    font-size: 10px;
    color: lightgray;
    font-family: 'Roboto', sans-serif;
    z-index: 99;
    p {
      line-height: 4px;
      margin: 10px;
    }
  }
}


@media (max-width: 768px), (max-height: 500px) {
  @include base-styles;
  .switch-btn-fwd {
    background: url("img/arrow.png");
    background-size: contain;
    position: fixed;
    top: 0;
    right: 0;
    height: 50px;
    width: 100px;
    z-index: 999;
    opacity: 0.7;
  }
  .switch-btn-rev {
    background: url("img/reverse_arrow.png");
    background-size: contain;
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: 100px;
    z-index: 999;
    opacity: 0.7;
  }
}

@media (max-width: 1024px) and (min-width: 769px) and (min-height: 500px) {
  @include base-styles;
}

// @media only screen and (max-width: 1920px) and (min-width: 1024px) {
@media (min-width: 1025px) and (min-height: 500px) {
  @include base-styles;
}

// @media (min-width: 1920px) {
//   .mobile-placeholder {
//     display: none;
//   }
// }
