@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html,
body {
  margin: 0;
  overflow-x: hidden;
}

@mixin base-styles($footer-height: 52px, $foot-lh: 4px) {
  .content {
    height: 100%;
    width: 100%;
  }
  .footer {
    position: fixed;
    bottom: 0px;
    background: #373737;
    height: $footer-height;
    width: 100%;
    text-align: center;
    font-size: 10px;
    color: lightgray;
    font-family: 'Roboto', sans-serif;
    p {
      line-height: $foot-lh;
      margin: 10px;
    }
  }

  .mobile-placeholder {
    display: none;
  }
}

@mixin placeholder {
  .content {
    display: none;
  }
  .mobile-placeholder {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #373737;
    color: lightgray;
    h1 {
      width: 50%;
      top: 40%;
      left: 0;
      right: 0;
      position: absolute;
      margin: 0 auto;
      font-family: 'Roboto', sans-serif;
    }
  }
}

@media (max-width: 768px), (max-height: 500px) {
  @include base-styles(80px, 12px);
  .switch-btn-fwd {
    background: url("img/arrow.png");
    background-size: contain;
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: 100px;
    z-index: 999;
  }
  .switch-btn-rev {
    background: red;
    // background: url("img/reverse_arrow.png");
    // background-size: contain;
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: 100px;
    z-index: 999;
  }
}

@media (max-width: 1024px) and (min-width: 769px) and (min-height: 500px) {
  @include base-styles;
}

// @media only screen and (max-width: 1920px) and (min-width: 1024px) {
@media (min-width: 1025px) and (min-height: 500px) {
  @include base-styles;
}

// @media (min-width: 1920px) {
//   .mobile-placeholder {
//     display: none;
//   }
// }
